asgiref==3.6.0
backports.zoneinfo==0.2.1
Django==4.1.4
django-treebeard==4.5.1
Faker==15.3.4
importlib-metadata==6.1.0
Markdown==3.4.1
numpy==1.24.2
ofxtools==0.9.5
pandas==1.5.3
Pillow==9.3.0
python-dateutil==2.8.2
pytz==2022.7.1
six==1.16.0
sqlparse==0.4.3
zipp==3.15.0
