{% extends 'django_ledger/layouts/content_layout_1.html' %}
{% load i18n %}
{% load static %}
{% load django_ledger %}

{% block view_content %}
     <style>
    .loader {
            border: 16px solid #f3f3f3; /* Light grey */
            border-top: 16px solid #3498db; /* Blue */
            border-radius: 50%;
            width: 120px;
            height: 120px;
            animation: spin 2s linear infinite;
        }

        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }

    </style>

    <div class="box">
        <div class="columns">
            <div class="column">
                {% if messages %}
                    <div class="messages">
                        {% for message in messages %}
                        <div class="message {% if message.tags %}{{ message.tags }}{% endif %}">
                            {{ message }}
                        </div>
                        {% endfor %}
                    </div>
                {% endif %}
                <a class="button is-primary is-outlined is-small"
                   href="{% url 'django_ledger:customer-create' entity_slug=view.kwargs.entity_slug %}">
                    <span class="icon is-large has-text-success">{% icon 'carbon:add-alt' 24 %}</span>
                    <span>{% trans 'New Customer' %}</span>
                </a>

                <div style="border-radius: 15px;border: 1px solid lightgray;margin-top: 4%;">
                    <div class="column"><h3>Add a .CSV file to add a list of Customers</h3></div>
                    
                    <form method="post" enctype="multipart/form-data" action="{% url 'django_ledger:ImportCSV_Customer' %}">
                        {% csrf_token %}
                        <div class="column">
                            <label for="csv_file">Select a CSV file:</label>
                            <input type="file" class="button is-primary is-outlined is-small" name="csv_file" accept=".csv" required="required">
                            <button class="button is-primary is-outlined is-small" type="submit">Upload CSV</button>
                        </div>
                    </form>
                </div>
                <div  style="border-radius: 15px;border: 1px solid lightgray;margin-top: 4%;">
                    <div class="column"><h3>Dynamic CSV uploader</h3></div>
                    <form id="upload-form" method="post" enctype="multipart/form-data" action="{% url 'django_ledger:uploadC' %}">
                    {% csrf_token %}
                        <div class="column">
                            <label for="csv_file">Select a CSV file:</label>
                            <input  class="button is-primary is-outlined is-small" type="file" name="file" accept=".csv" required="required">
                            <button class="button is-primary is-outlined is-small" type="submit">Upload CSV</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
        <div id="mapping"></div>
        <div style="margin-top: 5px;"></div>


        {% customer_table %}

    </div>
    </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script>
$(document).ready(function() {
    $('#upload-form').on('submit', function(e) {
        e.preventDefault();


        $.ajax({
            type: 'POST',
            url: '{% url 'django_ledger:uploadC' %}',
            data: new FormData(this),
            contentType: false,
            cache: false,
            processData: false,
            beforeSend: function() {
                // Add a loading spinner
                $('#mapping').html('<div class="loader"></div>');
            },
            success: function(data){
                $('#mapping').hide().html(data).slideDown('slow');
            },
            error: function(error){
                console.log(error);
                // Handle error here
            }
        });
    });
});
</script>


        <script>
        document.addEventListener("DOMContentLoaded", function () {
            let infoMessages = document.querySelectorAll(".message.warning");
            if (infoMessages) {
                infoMessages.forEach(function (message) {
                    message.style.backgroundColor = "red";
                    message.style.color = "white";
                    message.style.padding = "10px";
                    message.style.marginBottom = "10px";
                });
            }
        });
    </script>
{% endblock %}
